# Ignore the build results
/bin/
/obj/

# Ignore user-specific files
.vs/
.vscode/
.idea/

# Ignore ASP.NET Core environment variable files
appsettings.*.json

# Ignore npm files
node_modules/

# Ignore dotnet files for VS for Mac
.vscode/

# Ignore JetBrains Rider project settings
.idea/

# Ignore Visual Studio for Mac files
.vscode/

# Ignore Windows installer files
*.vsix

# Ignore logs
*.log

# Ignore configuration files
appsettings.json
